postgres_storage:
  postgres_db:
    username:
      env: DAGSTER_POSTGRES_USER
    password:
      env: DAGSTER_POSTGRES_PASSWORD
    hostname:
      env: DAGSTER_POSTGRES_HOST
    db_name:
      env: DAGSTER_POSTGRES_DB
    port:
      env: DAGSTER_POSTGRES_PORT
